<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <system.serviceModel>
    <services>
      <service name="CustomerLibrary.CustomerService" behaviorConfiguration="CustomerServiceBehavior">
        <endpoint address="net.tcp://localhost:8732/CustomerService" binding="netTcpBinding" contract="CustomerLibrary.ICustomerService"></endpoint>
        <endpoint address="CustomerService" binding="basicHttpBinding" contract="CustomerLibrary.ICustomerService"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomerServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>