ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.deps.json
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.dll.config
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.exe
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.pdb
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.runtimeconfig.dev.json
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.runtimeconfig.json
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ch02_DOM/XML_Dom/XML_Dom/obj/project.assets.json
ch02_DOM/XML_Dom/XML_Dom/obj/project.nuget.cache
ch02_DOM/XML_Dom/XML_Dom/obj/XML_Dom.csproj.nuget.dgspec.json
ch02_DOM/XML_Dom/XML_Dom/obj/XML_Dom.csproj.nuget.g.props
ch02_DOM/XML_Dom/XML_Dom/obj/XML_Dom.csproj.nuget.g.targets
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.AssemblyInfo.cs
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.AssemblyInfoInputs.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.assets.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.csproj.CopyComplete
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.csproj.CoreCompileInputs.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.csproj.FileListAbsolute.txt
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.csprojAssemblyReference.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.dll
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.exe
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.genruntimeconfig.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.pdb
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.deps.json
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.dll.config
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.exe
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.pdb
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.runtimeconfig.dev.json
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.runtimeconfig.json
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ch03_XPath/XML_XPath/obj/project.assets.json
ch03_XPath/XML_XPath/obj/project.nuget.cache
ch03_XPath/XML_XPath/obj/XML_XPath.csproj.nuget.dgspec.json
ch03_XPath/XML_XPath/obj/XML_XPath.csproj.nuget.g.props
ch03_XPath/XML_XPath/obj/XML_XPath.csproj.nuget.g.targets
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.AssemblyInfo.cs
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.AssemblyInfoInputs.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.assets.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.csproj.CopyComplete
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.csproj.CoreCompileInputs.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.csproj.FileListAbsolute.txt
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.csprojAssemblyReference.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.dll
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.exe
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.genruntimeconfig.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.pdb
ch04_XSLT/XslCompiledTransformDemo/App_Data/debug.log
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/XslCompiledTransformDemo.deps.json
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/XslCompiledTransformDemo.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/XslCompiledTransformDemo.dll.config
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/XslCompiledTransformDemo.exe
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/XslCompiledTransformDemo.pdb
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/XslCompiledTransformDemo.runtimeconfig.dev.json
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/XslCompiledTransformDemo.runtimeconfig.json
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ch04_XSLT/XslCompiledTransformDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ch04_XSLT/XslCompiledTransformDemo/obj/project.assets.json
ch04_XSLT/XslCompiledTransformDemo/obj/project.nuget.cache
ch04_XSLT/XslCompiledTransformDemo/obj/XslCompiledTransformDemo.csproj.nuget.dgspec.json
ch04_XSLT/XslCompiledTransformDemo/obj/XslCompiledTransformDemo.csproj.nuget.g.props
ch04_XSLT/XslCompiledTransformDemo/obj/XslCompiledTransformDemo.csproj.nuget.g.targets
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.AssemblyInfo.cs
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.AssemblyInfoInputs.cache
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.assets.cache
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.csproj.CopyComplete
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.csproj.CoreCompileInputs.cache
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.csproj.FileListAbsolute.txt
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.csprojAssemblyReference.cache
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.dll
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.exe
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.genruntimeconfig.cache
ch04_XSLT/XslCompiledTransformDemo/obj/Debug/netcoreapp3.1/XslCompiledTransformDemo.pdb
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/SchemaObjectModel.deps.json
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/SchemaObjectModel.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/SchemaObjectModel.dll.config
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/SchemaObjectModel.exe
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/SchemaObjectModel.pdb
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/SchemaObjectModel.runtimeconfig.dev.json
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/SchemaObjectModel.runtimeconfig.json
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ch05_XmlSchema/SchemaObjectModel/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ch05_XmlSchema/SchemaObjectModel/obj/project.assets.json
ch05_XmlSchema/SchemaObjectModel/obj/project.nuget.cache
ch05_XmlSchema/SchemaObjectModel/obj/SchemaObjectModel.csproj.nuget.dgspec.json
ch05_XmlSchema/SchemaObjectModel/obj/SchemaObjectModel.csproj.nuget.g.props
ch05_XmlSchema/SchemaObjectModel/obj/SchemaObjectModel.csproj.nuget.g.targets
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.AssemblyInfo.cs
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.AssemblyInfoInputs.cache
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.assets.cache
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.csproj.CopyComplete
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.csproj.CoreCompileInputs.cache
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.csproj.FileListAbsolute.txt
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.csprojAssemblyReference.cache
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.dll
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.exe
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.genruntimeconfig.cache
ch05_XmlSchema/SchemaObjectModel/obj/Debug/netcoreapp3.1/SchemaObjectModel.pdb
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/XmlReaderWriterDemo.deps.json
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/XmlReaderWriterDemo.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/XmlReaderWriterDemo.dll.config
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/XmlReaderWriterDemo.exe
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/XmlReaderWriterDemo.pdb
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/XmlReaderWriterDemo.runtimeconfig.dev.json
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/XmlReaderWriterDemo.runtimeconfig.json
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ch06_ReaderWriter/XmlReaderWriterDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ch06_ReaderWriter/XmlReaderWriterDemo/obj/project.assets.json
ch06_ReaderWriter/XmlReaderWriterDemo/obj/project.nuget.cache
ch06_ReaderWriter/XmlReaderWriterDemo/obj/XmlReaderWriterDemo.csproj.nuget.dgspec.json
ch06_ReaderWriter/XmlReaderWriterDemo/obj/XmlReaderWriterDemo.csproj.nuget.g.props
ch06_ReaderWriter/XmlReaderWriterDemo/obj/XmlReaderWriterDemo.csproj.nuget.g.targets
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.AssemblyInfo.cs
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.AssemblyInfoInputs.cache
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.assets.cache
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.csproj.CopyComplete
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.csproj.CoreCompileInputs.cache
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.csproj.FileListAbsolute.txt
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.csprojAssemblyReference.cache
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.dll
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.exe
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.genruntimeconfig.cache
ch06_ReaderWriter/XmlReaderWriterDemo/obj/Debug/netcoreapp3.1/XmlReaderWriterDemo.pdb
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/ADONETDemo.deps.json
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/ADONETDemo.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/ADONETDemo.dll.config
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/ADONETDemo.exe
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/ADONETDemo.pdb
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/ADONETDemo.runtimeconfig.dev.json
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/ADONETDemo.runtimeconfig.json
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ch07_ADONET/ADONETDemo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ch07_ADONET/ADONETDemo/obj/ADONETDemo.csproj.nuget.dgspec.json
ch07_ADONET/ADONETDemo/obj/ADONETDemo.csproj.nuget.g.props
ch07_ADONET/ADONETDemo/obj/ADONETDemo.csproj.nuget.g.targets
ch07_ADONET/ADONETDemo/obj/project.assets.json
ch07_ADONET/ADONETDemo/obj/project.nuget.cache
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.AssemblyInfo.cs
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.AssemblyInfoInputs.cache
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.assets.cache
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.csproj.CopyComplete
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.csproj.CoreCompileInputs.cache
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.csproj.FileListAbsolute.txt
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.csprojAssemblyReference.cache
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.dll
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.exe
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.genruntimeconfig.cache
ch07_ADONET/ADONETDemo/obj/Debug/netcoreapp3.1/ADONETDemo.pdb
ch08_WCF/CustomerLibrary/CustomerConsoleClient/bin/Debug/CustomerConsoleClient.exe
ch08_WCF/CustomerLibrary/CustomerConsoleClient/bin/Debug/CustomerConsoleClient.exe.config
ch08_WCF/CustomerLibrary/CustomerConsoleClient/bin/Debug/CustomerConsoleClient.pdb
ch08_WCF/CustomerLibrary/CustomerConsoleClient/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
ch08_WCF/CustomerLibrary/CustomerConsoleClient/obj/Debug/CustomerConsoleClient.csproj.CoreCompileInputs.cache
ch08_WCF/CustomerLibrary/CustomerConsoleClient/obj/Debug/CustomerConsoleClient.csproj.FileListAbsolute.txt
ch08_WCF/CustomerLibrary/CustomerConsoleClient/obj/Debug/CustomerConsoleClient.csprojAssemblyReference.cache
ch08_WCF/CustomerLibrary/CustomerConsoleClient/obj/Debug/CustomerConsoleClient.exe
ch08_WCF/CustomerLibrary/CustomerConsoleClient/obj/Debug/CustomerConsoleClient.pdb
ch08_WCF/CustomerLibrary/CustomerConsoleClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ch08_WCF/CustomerLibrary/CustomerConsoleClient/obj/Debug/TempPE/Connected Services.CustomerServiceReference.Reference.cs.dll
ch08_WCF/CustomerLibrary/CustomerLibrary/bin/Debug/CustomerLibrary.dll
ch08_WCF/CustomerLibrary/CustomerLibrary/bin/Debug/CustomerLibrary.dll.config
ch08_WCF/CustomerLibrary/CustomerLibrary/bin/Debug/CustomerLibrary.pdb
ch08_WCF/CustomerLibrary/CustomerLibrary/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
ch08_WCF/CustomerLibrary/CustomerLibrary/obj/Debug/CustomerLibrary.csproj.CoreCompileInputs.cache
ch08_WCF/CustomerLibrary/CustomerLibrary/obj/Debug/CustomerLibrary.csproj.FileListAbsolute.txt
ch08_WCF/CustomerLibrary/CustomerLibrary/obj/Debug/CustomerLibrary.dll
ch08_WCF/CustomerLibrary/CustomerLibrary/obj/Debug/CustomerLibrary.pdb
ch08_WCF/CustomerLibrary/CustomerLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ch08_WCF/CustomerLibrary/CustomerLibrary/obj/Debug/WcfConfigValidationData.tmp
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/bin/Debug/CustomerLibrary.dll
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/bin/Debug/CustomerLibrary.dll.config
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/bin/Debug/CustomerLibrary.pdb
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/bin/Debug/CustomerServiceConsoleClient.exe
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/bin/Debug/CustomerServiceConsoleClient.exe.config
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/bin/Debug/CustomerServiceConsoleClient.pdb
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceConsoleClient.csproj.CopyComplete
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceConsoleClient.csproj.CoreCompileInputs.cache
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceConsoleClient.csproj.FileListAbsolute.txt
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceConsoleClient.csprojAssemblyReference.cache
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceConsoleClient.exe
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceConsoleClient.pdb
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceHostConsole.csproj.CopyComplete
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceHostConsole.csproj.CoreCompileInputs.cache
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceHostConsole.csproj.FileListAbsolute.txt
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/CustomerServiceHostConsole.csprojAssemblyReference.cache
ch08_WCF/CustomerLibrary/CustomerServiceConsoleClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
