ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.deps.json
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.dll.config
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.exe
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.pdb
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.runtimeconfig.dev.json
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/XML_Dom.runtimeconfig.json
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ch02_DOM/XML_Dom/XML_Dom/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ch02_DOM/XML_Dom/XML_Dom/obj/project.assets.json
ch02_DOM/XML_Dom/XML_Dom/obj/project.nuget.cache
ch02_DOM/XML_Dom/XML_Dom/obj/XML_Dom.csproj.nuget.dgspec.json
ch02_DOM/XML_Dom/XML_Dom/obj/XML_Dom.csproj.nuget.g.props
ch02_DOM/XML_Dom/XML_Dom/obj/XML_Dom.csproj.nuget.g.targets
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.AssemblyInfo.cs
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.AssemblyInfoInputs.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.assets.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.csproj.CopyComplete
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.csproj.CoreCompileInputs.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.csproj.FileListAbsolute.txt
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.csprojAssemblyReference.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.dll
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.exe
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.genruntimeconfig.cache
ch02_DOM/XML_Dom/XML_Dom/obj/Debug/netcoreapp3.1/XML_Dom.pdb
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.deps.json
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.dll.config
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.exe
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.pdb
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.runtimeconfig.dev.json
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/XML_XPath.runtimeconfig.json
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ch03_XPath/XML_XPath/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ch03_XPath/XML_XPath/obj/project.assets.json
ch03_XPath/XML_XPath/obj/project.nuget.cache
ch03_XPath/XML_XPath/obj/XML_XPath.csproj.nuget.dgspec.json
ch03_XPath/XML_XPath/obj/XML_XPath.csproj.nuget.g.props
ch03_XPath/XML_XPath/obj/XML_XPath.csproj.nuget.g.targets
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.AssemblyInfo.cs
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.AssemblyInfoInputs.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.assets.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.csproj.CopyComplete
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.csproj.CoreCompileInputs.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.csproj.FileListAbsolute.txt
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.csprojAssemblyReference.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.dll
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.exe
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.genruntimeconfig.cache
ch03_XPath/XML_XPath/obj/Debug/netcoreapp3.1/XML_XPath.pdb
