<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="filepath" value="D:/Workspace/github/CSharp_XML/ch04_XSLT/XslCompiledTransformDemo/App_Data/"/>
        <add key="xmlfilename" value="Customers.xml"/>
        <add key="xslfilename" value="cust-condition.xsl"/>
    </appSettings>
</configuration>